.full-width{
  width: 100%;
}

.mdc-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.mat-mdc-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  button + button {
    margin-left: 12px;
  }
}
